

#container img {
   width: 100%;

   margin-bottom: 10%;
 }
 body {background-image: url(https://s10.postimg.org/i28ps8os9/Screen_Shot_2016_08_21_at_5_53_05_PM.png);
background-size: cover;}
.homebackground {  color: white;
                    text-shadow: white;
                    text-align: center;
                    margin-top: 10%;

  background-image: url(https://s10.postimg.org/i28ps8os9/Screen_Shot_2016_08_21_at_5_53_05_PM.png);

height: 500px;
  /*background: linear-gradient(to left, brown , black)*/
  ;}
#player1 {
  positon: relative;
}

#begin {background-color: pink;
          margin-top: 100px;
          margin-bottom: 50px;
          display: block;
        }
#playerWon{
  display: none
}
#track {background-color: white;
          color: white;
          /*opacity: .7;*/
          display:block;
          height: 125px;
        margin-top: 100px;
       width: 1000px;
     }
#divider {background-color: violet;
                  color: white;
                  /*opacity: .7;*/
                  display:block;
                  height: 27px;}
  #track2 {background-color: white;
                    color: white;
                    /*opacity: .7;*/
                    display:block;
                    height: 125px;
                    margin-top:0px;
                  margin-bottom:200px;}
.playerimages {
  height: 125px;
  float: left;
  padding: 15px;
  position: relative;
}
/*#next2 {background-color: pink;
                  margin-top: 50px;
                  margin-bottom: 500px;
                }*/
/*
footer { background-color: pink;
          color: white;
          /*opacity: .9;*/
          /*display:block;
          height: 30px;

          min-width: 100%;
          ;

}*/*/

.gametitle {color: white;
            text-align: center;
           text-shadow: purple;
           margin-top: 50px;
           margin-bottom: 50px;
         height: 20%;}
.playerkey {
  color: navy;
  background-color: white;
  text-align: center;
  opacity: .7;
  padding: 5px;
  height: 60px;
}
.tmp-hidden {
+  display: none;
/*
#one {
  text-align: left
  display: float;
}
#two{
  text-align: right;
}*/
